
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

.container {
    background-color:#D5E1EF;
    margin: auto;
    justify-content: center;
    display: flex;
    height: 100vh;
    max-width: 1440px;
    min-width: 375px;
}

.box {
    max-width: 320px;
    max-height: 497px;
    margin-top: 152px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.img-1 {
    max-width: 288px;
    margin: 16px;
    border-radius: 10px;
    position: absolute;
}


.title {
    max-width: 288px;
    margin: 320px 16px 16px 16px; 
    max-height: 56px;
}

h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #1F314F;;
    word-wrap: break-word;
    padding: 0px 10px 0px 16px;
   
}

.content {
    margin: 0px 32px 40px 32px;
}


p{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
text-align: center;
letter-spacing: 0.1875px;
color: #7D889E;
};

